@font-face{font-family: Perpetua; src: url(Assets/perpetua.ttf)}
h1,h2,h3,h4,h5,h6,p{
    color:white;
    font-family: Perpetua;
    text-align: center;
}
#creature_Name{
    font-size:48px
}
#creature_Description{
    font-size:32px;
    font-style:italic;
}
#hornet_Comment{
    font-size:32px;
    font-style:italic;
}
#portraitCol{
    height: 100%;
    padding: 0 20px;
    overflow: hidden;
}
.portraits{
    position:absolute;
    width:25%;
    margin-left: 50px;
    margin-top:50px;    
    overflow-y:scroll;
    overflow:hidden;
    box-sizing:content-box;
    float: left;
}
#fullBody{
    width:50%;
    background:local;
}
.fullBody{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items:center;
    height:600px;
    width:45%;
    float:inline-start;
    left:25%;

}

.Journal{
    left:70%;
    position:fixed;
    width:25%;
    float:left;
}
#HJPortrait{
    border:0px;
}
#HJPortrait:hover{
    transition:ease-in-out, 0.5s;
    opacity:50%;
    border:5px;
    border-color:rgb(134, 172, 246)
}
img{
    padding:0px;
}
html{
    background-color:rgb(46, 45, 45);
}