#portraits{
    width:300px;
    margin-left: 50px;
    margin-top:50px;    
}
#HJPortrait{
    border:0px;
}
#HJPortrait:hover{
    transition:ease-in-out, 0.5s;
    opacity:50%;
    border:5px;
    border-color:rgb(134, 172, 246)
}
img{
    padding:0px;
}
html{
    background-color:rgb(46, 45, 45);
}