@font-face{font-family: Perpetua; src: url(Assets/perpetua.ttf)}
h1,h2,h3,h4,h5,h6,p,div{
    color:white;
    font-family: Perpetua;
    text-align: center;
}
#creature_Name{
    font-size:48px;
    margin-bottom: 0px;
}
#creature_Description{
    margin-top:3px;
    font-size:24px;
    font-style:italic;
}
#hornet_Comment{
    margin-top:3px;
    margin-bottom:3px;
    font-size:24px;
    font-style:italic;
}
#creature_Location{
    border:solid;
    border-radius:7px;
    color:white;
    width:150px;
    text-align:center;
    font-size:24px;
    float:left
}
#enemyHP{
    border:solid;
    width:200px;
    text-align:center;
    font-size:24px;
    color:white;
    border-radius:7px;
    float:right;
}
#enemyDrops{
    margin-top:5px;
    border:solid;
    width:150px;
    text-align:center;
    font-size:24px;
    color:white;
    border-radius:7px;
    float:left;
}
#creatureFilter{
    margin-top:5px;
    border:solid;
    width:200px;
    text-align:center;
    font-size:24px;
    color:white;
    border-radius:7px;
    float:right;
}
#portraitCol{
    height: 100%;
    padding: 0 20px;
    overflow: hidden;
}
.portraits{
    position:absolute;
    width:25%;
    margin-left: 50px;
    margin-top:50px;    
    overflow-y:scroll;
    overflow:hidden;
    box-sizing:content-box;
    float: left;
}
#fullBody{
    width:50%;
    background:local;
}
.fullBody{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items:center;
    height:600px;
    width:45%;
    float:inline-start;
    left:25%;

}

.Journal{
    left:70%;
    position:fixed;
    width:25%;
    float:left;
}
.HJPortrait{
    border:0px;
}
.HJPortrait:hover{
    transition:ease-in-out, 0.5s;
    opacity:50%;
    border:5px;
    border-color:rgb(134, 172, 246)
}
img{
    padding:0px;
}
html{
    background-color:rgb(46, 45, 45);
}